<nav class="navbar sticky-top navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'landing' %}">CVHaus</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="navbar-brand" href="{% url 'managers:managerDashboard' %}">Dashboard</a>
            </li>
        </ul>
        
        <div class="d-flex flex-row">
            {% comment "Unique Code Field" %}
            {% if manager.company %}
                <!-- <form class="form-inline" id="code-generation-form" method="POST" onsubmit="return getNewCode();">
                    {% csrf_token %}
                    <input class="form-control mr-2" id="code-field" value="{{ registrationCode }}" type="text" placeholder="Click to Generate Code" readonly>
                    <button class="btn btn-warning my-2 my-sm-0" type="submit">Generate New</button>
                </form> -->
            {% endif %}
            {% endcomment %}
            <a href="{% url 'managers:managerLogout' %}" class="ml-2 btn btn-primary">Log Out</a>
        </div>
    </div>
</nav>
{% comment "Code Generation AJAX Call Script" %}
{% if manager.company %}
    <!-- <script>
        let messages = document.getElementById("messages");
        let codeField = document.getElementById("code-field");

        function getNewCode() {
            fetch("/managers/get-new-code/", {
                method: "POST",
                headers: {
                    "X-CSRFToken": document.querySelector("[name=csrfmiddlewaretoken]").value
                }
            })
            .then(response => response.json())
            .then(response => {
                if (response["success"]) {
                    codeField.value = response.code;
                    let html = `<div class="message info"><p style="margin-bottom: 0px;" class="message-success">${response.message}</p><img src="/static/Images/Cross.png" alt="" onclick="this.parentElement.remove();">`
                    messages.insertAdjacentHTML("beforeend", html);
                } else {
                    let html = `<div class="message info"><p style="margin-bottom: 0px;" class="message-error">${response.message}</p><img src="/static/Images/Cross.png" alt="" onclick="this.parentElement.remove();">`
                    messages.insertAdjacentHTML("beforeend", html);
                }
            });

            return false;
        }
    </script> -->
{% endif %}
{% endcomment %}