{% extends "core/base.html" %}
{% load static %}

{% block title %}
Complaints
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<div class="d-flex flex-column pt-3">
    <form action="{% url 'core:complaints' %}" class="btn-group w-100" method="GET">
        <input class="form-control me-3" value="{{ query }}" type="text" placeholder="Search for complaints by titles and tags" name="query" aria-label="Search">
        <div class="btn-group">
            <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                <input type="submit" value="Search" class="btn btn-success">
                <input type="checkbox" class="btn-check" autocomplete="off" {% if all %}checked{% endif %} name="all" id="showAll">
                <label class="btn btn-outline-dark" style="white-space: nowrap;" for="showAll">Resolved Also</label>
            </div>
        </div>
    </form>
    <div class="row row-cols-1 row-cols-md-1 g-3 pb-3 pt-3">
        {% for c in complaints %}
            <div class="col">
                <a class="text-dark text-decoration-none" href="{% url 'core:viewComplaint' c.slug %}">
                    <div class="card">
                        <div class="card-header text-decoration-none">
                            <div class="d-flex align-items-center justify-content-between">
                                <p class="mb-0 fs-5 text-decoration-none">{{ c.author.getName }}</p>
                                <div class="ms-3">
                                    <small class="text-decoration-none me-2">{{ c.dateCreated|date:'j F, Y' }}</small>
                                    {% if c.status %}
                                        <span class="badge bg-success">Resolved</span>
                                    {% else %}
                                        <span class="badge bg-danger">Unresolved</span>
                                    {% endif %}
                                </div>
                            </div>
                            <div>
                                <p class="card-text mt-2 mb-0 text-decoration-none">{{ c.title }}</p>
                            </div>
                        </div>
                    </div>  
                </a>
            </div>
        {% empty %}
        <div class="pe-2 ps-2">
            <div class="alert alert-info text-center" role="alert">
                <h5>No complaints found</h5>
            </div>
        </div>
        {% endfor %}
    </div>
    {% if complaints.has_other_pages %}
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if complaints.has_previous  %}
                    <li class="page-item">
                        {% if request.path == request.get_full_path %}
                            <a class="page-link" href="?page={{ complaints.previous_page_number }}" tabindex="-1" aria-disabled="true">Previous</a>
                        {% else %}
                            <a class="page-link" href="{{ request.get_full_path }}&page={{ complaints.previous_page_number }}" tabindex="-1" aria-disabled="true">Previous</a>
                        {% endif %}
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-disabled="true">Previous</a>
                    </li>
                {% endif %}
                {% for i in complaints.paginator.page_range %}
                    {% if complaints.number == i %}
                        {% if request.path == request.get_full_path %}
                            <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                        {% else %}
                            <li class="page-item active"><a class="page-link" href="{{ request.get_full_path }}&page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% else %}
                        {% if request.path == request.get_full_path %}
                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="{{ request.get_full_path }}&page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% if complaints.has_next %}
                    <li class="page-item">
                        {% if request.path == request.get_full_path %}
                            <a class="page-link" href="?page={{ complaints.next_page_number }}">Next</a>
                        {% else %}
                            <a class="page-link" href="{{ request.get_full_path }}&page={{ complaints.next_page_number }}">Next</a>
                        {% endif %}
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Next</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
{% endblock %}