{% extends "core/base.html" %}
{% load static %}

{% block title %}
{{ complaint.title }}
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<div class="d-flex flex-column pt-3">
    <div class="card">
        <div class="card-header">
            <h5>Complaint</h5>
        </div>
        <card class="card-body">
            <p>{{ complaint.title }}</p>
            <hr>
            <div class="d-flex align-items-center flex-wrap w-100">
                <button class="m-1 btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#complaint" aria-expanded="false" aria-controls="complaint">
                    View Description
                </button>
                <button class="m-1 btn btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#tags" aria-expanded="false" aria-controls="tags">
                    View Tags
                </button>
                {% if request.user.isAdmin and not complaint.status %}
                    <form action="{% url 'core:resolved' complaint.slug %}" method="POST">
                        {% csrf_token %}
                        <input type="submit" value="Mark As Resolved" class="m-1 btn btn-success">
                    </form>
                {% endif %}
                {% if complaint.status %}
                    <form action="{% url 'core:unresolved' complaint.slug %}" method="POST">
                        {% csrf_token %}
                        <input type="submit" value="Mark As Unresolved" class="m-1 btn btn-danger">
                    </form>
                {% endif %}
            </div>
            <div class="collapse mt-3" id="tags">
                <div class="card card-body">
                    <div class="d-flex flex-wrap justify-content-center">
                        {% for tag in complaint.tags.all %}
                            <button class="m-1 user-select-all btn btn-sm btn-light">{{ tag.tag.name }}</button>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="collapse mt-3" id="complaint">
                <div class="card card-body">
                    {{ complaint.complaint|linebreaks }}
                </div>
            </div>
        </card>
    </div>
    <hr class="mb-0">
    {% for r in replies %}
        <div class="card mt-3">
            <div class="card-header d-flex align-items-center justify-content-between">
                <p class="mb-1">{{ r.author.getName }}</p>
                {% if r.dateCreated == r.dateUpdated %}
                    <span class="badge bg-dark ms-3">{{ r.dateUpdated|timesince:today }} ago</span>
                {% else %}
                    <span class="badge bg-dark ms-3">{{ r.dateUpdated|timesince:today }} ago</span>
                {% endif %}
            </div>
            <div class="card-body pb-0">
                <p class="m-0">{{ r.reply|linebreaks }}</p>
            </div>
        </div>
    {% endfor %}
    <div class="card mt-3">
        <div class="card-body">
            <form action="" method="POST" class="form">
                <div class="mb-3">
                    <label for="complaint" class="form-label">Reply</label>
                    <textarea class="form-control" required name="reply" rows="7" placeholder="Enter your reply">{{ last.complaint }}</textarea>
                </div>
                {% csrf_token %}
                <input type="submit" value="Post Reply" class="btn btn-success">
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}